<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1 class="brand-heading" property="http://purl.org/dc/terms/title">{{ site.title | strip_html }}</h1>
        <div class="intro-text">
          <span class="name">{{ site.acronym | strip_html }} {{ event.year }}</span>
          <hr class="star-primary">
          <span class="title">{{ site.title | strip_html }} {{ event.year }}<br>{{ event.title }}</span>
        </div>
        <a href="#about" class="btn btn-circle">
          <span class="fa fa-angle-double-down animated"></span>
        </a>
      </div>
    </div>
  </div>
</section>
